
@media(max-width: 767.98px)   {
  .nature-heading {
    background-color: #081950; 
    margin-bottom: 10px;
  }.size{
  width: 100%;
}
}

@media (min-width:768px){
  .input-area{
    width:50%;
  }
}

button a {
  text-decoration: none;
}

.hero{
  font-weight: 700;
}


.zen{
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

